[submodule "sanscript.js"]
	path = sanscript.js
	url = git://github.com/sanskrit/sanscript.js
[submodule "sanscript.php"]
	path = sanscript.php
	url = git://github.com/sanskrit/sanscript.php
[submodule "sanscript.rb"]
	path = sanscript.rb
	url = https://github.com/NaanProphet/sanscript.rb.git
